@{
    ViewData["Title"] = "About Page";
}

<h1>We are capable Development Company.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
    
      <a href="https://www.linkedin.com/in/chinmay-kulkarni-417103152/" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><h2 class="text-dark">Contact for more info</h2></a>
    </p>